<html lang="">
    <head>
        <title>Products</title>
    </head>

    <body>
        <header>
            <h1><a href="/">Products</a></h1>
            {% if user.is_authenticated %}
                <p>Hi {{ user.username }}!</p>
                <p><a href="{% url 'logout' %}">logout</a></p>
            {% else %}
                <p>You are not logged in.</p>
                <a href="{% url 'login' %}">login</a>
            {% endif %}

        </header>

        <div class="container">
            {% block content %}
            {% endblock content %}
        </div>
    </body>
</html>
