{% extends 'base.html' %}


{% block content %}
    {% for food in foods %}
        <div class="post-entry">
            <h2><a href="">{{ food.title }}</a></h2>
            <h2><a href="{% url 'prod_detail' food.pk %}">{{ food.name }}</a></h2>
            <p>{{ food.body }}</p>
            <a href="{% url 'prod_edit' food.pk %}">Edit products</a>
        </div>
    {% endfor %}
{% endblock content %}
