{% extends 'base.html' %}

{% block content %}

    <h1>Delete product</h1>

    <form action="" method="post">
        {% csrf_token %}
        <p>Are you sure!You want to delete"{{ food.title }}"?</p>
        <input type="submit"  value="Confirm"/>
    </form>

{% endblock content %}

