{% extends 'base.html' %}

{% block content %}
        <div class="post-entry">
            <h2>{{ Foodstuff.name }}</h2>
            <p>{{ Foodstuff.price }}</p>
            <p>{{ Foodstuff.amount }}</p>
            <p><a href="{% url 'prod_delete' post.pk %}">Delete position</a></p>
        </div>
{% endblock content %}